body {
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  border-radius: 4px;
  transition: all 0.3s ease;
  border: none;
  background-color: #0070c9; 
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005bbf;
}