html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(135deg, gray, white, gray);
}

button {
  font-size: 2rem;
  padding: .5rem 2rem;
}