@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

html {
}

body {
  background: url("bg.jpg");
  background-size: 100% auto;font-family: 'Eagle Lake', cursive;
  padding: 2rem;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  font-weight: 900;
}

p {
  font-size: 1.25rem;
  line-height: 2;
  text-indent: 3rem;
  font-weight: 500;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}